<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.t_transportation.mapper.CustomersMapper">


    <update id="update">
       update customers
    <set>
        <if test="customersName != null">
            customers_name=#{customersName},
        </if>
        <if test="contact !=null">
            contact=#{contact},
        </if>
        <if test="email!=null">
        email=#{email},
        </if>
    </set>
    where  id=#{id}
</update>

     <select id="query" resultType="com.example.t_transportation.entity.CustomerInfo">
        select * from customers
    <where>
        <if test="id!=null">
         id=#{id}
        </if>
    </where>
    </select>


     <select id="list" resultType="com.example.t_transportation.entity.CustomerInfo">
        select * from customers
    <where>
        <if test="id!=null">
        AND id=#{id}
        </if>
        <if test="customersName!=null">
         AND customers_name=#{customersName}
        </if>
    </where>
    </select>
</mapper>